@model Project_Library.Models.Library

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div.a {
        text-align: center;
        background-color: pink;
    }
</style>
<div>
<center>
    <img src="https://scontent.fnak2-1.fna.fbcdn.net/v/t1.15752-9/312370885_501080455292818_4171147821950675704_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_ohc=OdeVt8PCJyAAX8dRWBG&_nc_ht=scontent.fnak2-1.fna&oh=03_AdRE42P4wcMSh1pVf4foZGTs6hGjgx080DZAdJ_fk0ao6w&oe=639B4D87" width="60%" height="60%"
</center>
<div class="a">
    <h1>รายละเอียดข้อมูล</h1>
    <h1> </h1>
    </div>
</div>
<div class="form-control">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBorrow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBorrow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReturn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReturn)
        </dd>
        </dl
        ><a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> 
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

